<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--
		org.apache.log4j.ConsoleAppender 日志输出到控制台
		org.apache.log4j.FileAppender 日志输出到文件
		org.apache.log4j.DailyRollingFileAppender 日志输出到文件，文件达到一定阈值时，自动备份日志文件;
		org.apache.log4j.RollingFileAppender 可定期备份日志文件，默认一天一个文件，也可设置为每分钟一个、每小时一个；
		org.apache.log4j.WriterAppender 可自定义日志输出位置

		日志级别
			ERROR 	为严重错误 主要是程序的错误
			WARN 	为一般警告，比如session丢失
			INFO 	为一般要显示的信息，比如登录登出
			DEBUG 	为程序的调试信息

		日志输出格式
		org.apache.log4j.HTMLLayout（以HTML表格形式布局）
		org.apache.log4j.SimpleLayout（包含日志信息的级别和信息字符串）
		org.apache.log4j.TTCCLayout（包含日志产生的时间、线程、类别等等信息）
		org.apache.log4j.PatternLayOut （可以灵活地指定布局模式），主要参数如下：
			%n - 换行
			%m - 日志内容
			%p - 日志级别(FATAL， ERROR，WARN， INFO，DEBUG or custom)
			%r - 程序启动到现在的毫秒数
			%t - 当前线程名
			%d - 日期和时间, 一般使用格式 %d{yyyy-MM-dd HH:mm:ss,SSS}

			%l - 输出日志事件的发生位置， 同 %F%L%C%M	【修改，FleaLogger兼容Logger】
			%c - 日志类名， %c{1}输出最后一个元素		【修改，FleaLogger兼容Logger】
			%C - java 类名，%C{1}输出最后一个元素		【修改，FleaLogger兼容Logger】
			%F - java 源文件名						【修改，FleaLogger兼容Logger】
			%L - java 源码行数						【修改，FleaLogger兼容Logger】
			%M - java 方法名							【修改，FleaLogger兼容Logger】
			%P - java 方法参数						【新增，必须使用FleaLogger日志接口才能有效】
			%A - 账号								【新增，必须使用FleaLogger日志接口才能有效】
			%a - 账户编号							【新增，必须使用FleaLogger日志接口才能有效】
	-->
	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="com.huazie.frame.common.log4j.FleaPatternLayout">
			<param name="ConversionPattern" value="%d (%A:%a) %-5p %t [%l] - %m%n" />
		</layout>
		<!--过滤器设置输出的级别-->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="myFile" class="org.apache.log4j.RollingFileAppender">
		<!-- 设置日志输出文件名 -->
        <param name="File" value="E:/flea-frame.log" />
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="com.huazie.frame.common.log4j.FleaPatternLayout">
            <param name="ConversionPattern" value="%d (%A:%a) %-5p %t [%l] - %m%n" />
        </layout>
    </appender>
	
	<logger name="org.springframework">
		<level value="WARN" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="myFile"/>
	</logger>
	
	<logger name="org.hibernate">
		<level value="WARN" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="myFile"/>
	</logger>

	<!-- -->
	<logger name="org.apache">
		<level value="WARN" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="myFile"/>
	</logger>
	
	<!-- 根logger的设置--> 
	<root>
		<priority value="debug" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="myFile"/>
	</root>
	
</log4j:configuration>  