<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">

    <!-- 自动扫描-->
    <context:component-scan base-package="com.huazie.**.dao.impl,com.huazie.**.service.impl,com.huazie.**.bean,com.huazie.**.aspect"/>

    <bean id="fleaApplicationContext" class="com.huazie.fleaframework.common.FleaApplicationContext" lazy-init="false"/>
    <!--
        读取的配置文件
        单个配置文件使用location，且不用使用list，多个配置文件使用locations

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:flea/db/flea-db-config.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>
    -->

    <!-- 构建JPA实体工厂类所需要的Bean，固定 -->
    <import resource="spring/db/jpa/fleajpabeans-spring.xml"/>

    <!-- 持久化单元【fleaconfig】对应的JPA相关Bean配置 -->
    <import resource="spring/db/jpa/fleaconfig-spring.xml"/>

    <!-- 持久化单元【fleaauth】对应的JPA相关Bean配置 -->
    <import resource="spring/db/jpa/fleaauth-spring.xml"/>

    <!-- Flea缓存模块对应的Bean配置-->
    <import resource="spring/cache/fleacache-spring.xml"/>

    <!-- 调度任务对应的Bean配置 -->
    <!-- <import resource="spring-quartz.xml" /> -->

    <!-- 织入使用注解定义的增强，需要引入AOP命名空间 -->
    <aop:aspectj-autoproxy/>


</beans>